@mixin bg-image-shadow {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 16px;
}

@mixin bg-image-fixed {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: left;
}

@mixin media-lg {
    @media screen and (max-width:1025px) {
        @content;
    }
}

@mixin media-md {
    @media screen and (max-width:769px) {
        @content;
    }
}

@mixin media-sm {
    @media screen and (max-width:575px) {
        @content;
    }
}