.gall {
    &-bg {
        background-image: url("../../img/gall.png");
        @include bg-image-shadow;
        height: 65px;
        margin-top: 50px;
        margin-bottom: 70px;
        padding-top: 6px;

        &-text {
            padding-top: 10px;
            font-size: 30px;
            font-weight: bold;
        }
    }

    .image-hover {
        position: relative;

        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            transition: .3s ease;
            background-color: red;
            border-radius: 40px;

            .icon {
                color: white;
                font-size: 100px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                text-align: center;
                height: 60px;
                width: 60px;
            }
        }

        &:hover .overlay {
            opacity: 0.7;
            margin: 20px;
        }
    }
}