.memories {
    background-image: url("../../img/memories-main-bg.png");
    @include bg-image-fixed;
    background-color: black;

    /* height: 52vw; */
    &-bg {
        background-image: url("../../img/memories-bg.png");
        @include bg-image-shadow;
        padding-top: 15px;

        &-text {
            color: white;
            font-size: 30px;
            font-weight: bold;
        }
    }

    .mem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-title {
            font-size: 2vw;
            font-weight: 800;
            padding-bottom: 1vw;
        }

        &-desc {
            /* width: 38vw; */
            padding-bottom: 4vw;
        }

        &-btn {
            border: 2px solid red;
            border-radius: 50px;
            padding: 0.6vw 3.3vw;

            &:hover {
                background-color: red;
                color: white;
            }
        }
    }
}