.bg-home {
  background-color: black;
  background-image: url(../../img/g.png);
  background-size: contain;
  height: 43.6vw;
  background-repeat: no-repeat;
  box-shadow: 0 3px 10px rgb(0, 0, 0);
}
.bg-home-text {
  top: 12vw;
  left: 55.5vw;
  width: 39vw;
}
.bg-home-text .d1 {
  font-size: 2.29vw;
  font-weight: 500;
}
.bg-home-text .d2 {
  font-size: 3.8vw;
  font-weight: bold;
}
.bg-home-text .d3 {
  font-weight: 400;
  font-size: 1.7vw;
  color: #b7b7b7;
}
.bg-home-text .btn {
  font-size: 1.6vw;
  border-radius: 22px;
  padding: 6px 54px;
}
.bg-home-text .btn:hover {
  background-color: red;
  color: white;
}

.images {
  margin: 0;
  padding: 0;
  /* box-shadow: inset 0px 20px 30px rgb(0 0 0 / 0.2), -2px -2px 10px rgb(0 0 0 / 0.2); */
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.385), inset 0 0px 30px 6px rgba(0, 0, 0, 0.385);
}
.images .food-icon {
  padding: 16px;
  height: 7vw;
  width: 7vw;
}

.sec-pf {
  margin-bottom: 6vh;
}
.sec-pf .pf-bg {
  background-image: url("../../img/pf.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 16px;
  height: 65px;
  margin-bottom: 70px;
  padding-top: 15px;
}
.sec-pf .pf-bg-text {
  padding-top: 10px;
  font-size: 30px;
}
.sec-pf .card {
  border-radius: 0;
  border: 3px solid transparent;
}
.sec-pf .card-img-top {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0;
}
.sec-pf .card-title {
  text-align: start;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 25px;
  color: #c10a28;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 20px;
}
.sec-pf .card-text {
  font-weight: 200;
}
.sec-pf .card-price {
  flex-basis: 25.1%;
}
.sec-pf .card:hover {
  border-radius: 0 !important;
  border: 3px solid red;
}
.sec-pf .slick-slide {
  padding: 0 1rem;
  height: -moz-max-content;
  height: max-content;
}
.sec-pf .slick-prev, .sec-pf .slick-next {
  z-index: 1;
  top: unset;
  bottom: -3vw !important;
  margin: 0 -15px;
}
.sec-pf .slick-prev {
  left: 44%;
}
.sec-pf .slick-prev:before {
  content: url(../../img/prev.png);
}
.sec-pf .slick-prev.slick-disabled:before {
  content: url(../../img/disabled-prev.png);
  opacity: 1;
}
.sec-pf .slick-next {
  right: 48%;
}
.sec-pf .slick-next:before {
  content: url(../../img/next.png);
}
.sec-pf .slick-next.slick-disabled:before {
  content: url(../../img/disabled-next.png);
  opacity: 1;
}

.memories {
  background-image: url("../../img/memories-main-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: left;
  background-color: black;
  /* height: 52vw; */
}
.memories-bg {
  background-image: url("../../img/memories-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 16px;
  padding-top: 15px;
}
.memories-bg-text {
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.memories .mem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.memories .mem-title {
  font-size: 2vw;
  font-weight: 800;
  padding-bottom: 1vw;
}
.memories .mem-desc {
  /* width: 38vw; */
  padding-bottom: 4vw;
}
.memories .mem-btn {
  border: 2px solid red;
  border-radius: 50px;
  padding: 0.6vw 3.3vw;
}
.memories .mem-btn:hover {
  background-color: red;
  color: white;
}

.blog-bg {
  background-image: url("../../img/blog.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 16px;
  height: 65px;
  margin-bottom: 70px;
  padding-top: 10px;
}
.blog-bg-text {
  padding-top: 10px;
  font-size: 30px;
  font-weight: bold;
}
.blog .card {
  border: none;
  border-radius: 0;
}
.blog .card-img-top {
  border: none;
  border-radius: 0;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog .card-body {
  padding: 16px 16px;
}
.blog .card-title {
  text-align: start;
  font-size: 20px;
}
.blog .card-text {
  text-align: start;
  color: gray;
}
.blog .card-span {
  text-align: end;
  color: red;
}

.c {
  background-image: url("../../img/pizza5.png");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: left;
  /* height: 575px; */
}
.c-img {
  padding-top: 8vw;
  padding-bottom: 5vw;
}
.c-text {
  width: 62vw;
}
.c-post {
  padding-bottom: 6vw;
}
.c .carousel-indicators {
  bottom: 1%;
}
.c .carousel-indicators .active {
  background-color: red;
}

.gall-bg {
  background-image: url("../../img/gall.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 16px;
  height: 65px;
  margin-top: 50px;
  margin-bottom: 70px;
  padding-top: 6px;
}
.gall-bg-text {
  padding-top: 10px;
  font-size: 30px;
  font-weight: bold;
}
.gall .image-hover {
  position: relative;
}
.gall .image-hover .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.3s ease;
  background-color: red;
  border-radius: 40px;
}
.gall .image-hover .overlay .icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  height: 60px;
  width: 60px;
}
.gall .image-hover:hover .overlay {
  opacity: 0.7;
  margin: 20px;
}

.contact {
  background-image: url("../../img/pizza6.png");
  padding: 50px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: left;
}
.contact-head {
  color: red;
  font-weight: bold;
}
.contact-text {
  color: #acacac;
}
.contact-link {
  text-decoration: underline;
  color: white;
  font-weight: bold;
}
.contact-list {
  line-height: 35px;
  list-style-type: none;
  color: #acacac;
}
.contact-list li:hover {
  color: white;
}

footer {
  padding: 20px 0;
  color: white;
  background-color: #c10a28;
}
footer .footer {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;
}
footer .fb-p {
  padding: 0 11px;
}
footer .icon-border {
  color: #db7283;
  border: 2px solid #db7283;
  margin: 9px;
}
footer .icon-border:hover {
  color: white;
  border: 2px solid white;
}

@media screen and (max-width: 1025px) {
  .bg-home {
    height: 44vw;
    background-size: contain;
  }
  .bg-home-text {
    top: 11vw;
    left: 57.5vw;
    width: 36vw;
  }
  .bg-home-text .btn {
    padding: 6px 18px !important;
    font-size: 16px !important;
  }
  .slick-prev,
  .slick-next {
    top: unset;
    bottom: -1vw;
  }
}
@media screen and (max-width: 993px) {
  .navbar-nav {
    background-color: black;
    opacity: 0.9;
    align-items: center;
  }
  .navbar-nav .nav-item .nav-link {
    font-size: unset;
  }
}
@media screen and (max-width: 769px) {
  .bg-home {
    height: 53%;
    background-size: cover;
  }
  .bg-home-text {
    position: initial !important;
    width: -moz-fit-content;
    width: fit-content;
    margin: 8vw 3vw;
  }
  .bg-home-text .d1 {
    font-size: 35px;
    color: black !important;
  }
  .bg-home-text .d2 {
    font-size: 59px;
    font-weight: bold;
    color: black !important;
  }
  .bg-home-text .d3 {
    font-weight: 400;
    font-size: 26px;
    color: #363636;
  }
  .bg-home-text .btn {
    color: black !important;
  }
  .nav-link {
    color: white;
    border: 0px;
  }
  .nav-link:hover {
    color: red;
    border: 0px;
  }
  .images .food-icon {
    padding: 10px;
  }
  .sec-pf .slick-prev, .sec-pf .slick-next {
    bottom: -6vw !important;
    margin: 0 -20px;
  }
  .sec-pf .slick-prev {
    left: 40.4%;
  }
  .sec-pf .slick-next {
    right: 46.1%;
  }
  .mem {
    height: 100%;
  }
  .mem-title {
    font-size: 1.5rem;
    padding-bottom: 0;
  }
  .mem-desc {
    font-size: 13px;
    padding-bottom: 12px;
  }
  .mem-btn {
    padding: 3px 19px;
    font-size: 12px;
  }
}
@media screen and (max-width: 575px) {
  .bg-home-text .d1 {
    font-size: 30px;
  }
  .bg-home-text .d2 {
    font-size: 44px;
  }
  .bg-home-text .d3 {
    font-size: 22px;
  }
  .images .food-icon {
    padding: 8px;
    height: 14vw;
    width: 20vw;
  }
  .images p {
    font-size: 8px;
    text-align: center;
  }
  .sec-pf .slick-list {
    height: 636px;
  }
  .sec-pf .slick-prev, .sec-pf .slick-next {
    bottom: -45px !important;
    margin: 0 1px;
  }
  .sec-pf .slick-prev {
    left: 25.4%;
  }
  .sec-pf .slick-next {
    right: 40%;
  }
  .memories .mem-title {
    font-size: 5vw;
    padding-top: 20px;
    padding-bottom: 0;
  }
  .memories .mem-desc {
    width: 74vw;
    font-size: 12px;
    padding-bottom: 12px;
  }
  .memories .mem-btn {
    margin-bottom: 20px;
  }
  footer .footer {
    flex-direction: column;
  }
  footer .footer p:first-child {
    text-align: center;
  }
}
body {
  font-family: "Raleway", sans-serif;
}

.my-container {
  width: 87.3%;
  margin: 0 auto;
}

.nav-item {
  padding: 0 12px;
}
.nav-item .nav-link {
  border: 1px solid transparent;
  border-radius: 50%;
  font-size: 1.24vw;
  color: white;
}
.nav-item .nav-link:hover {
  color: red;
  border: 1px solid red;
  border-radius: 30px;
}

.fw-med {
  font-weight: 500;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 65px;
  right: 40px;
  z-index: 99;
  cursor: pointer;
}
#myBtn:hover {
  filter: brightness(1.5);
}/*# sourceMappingURL=style.css.map */