@import 'config',
'home',
'portfolio',
'memories',
'blog',
'gallery',
'footer',
'responsive';


body {
    font-family: 'Raleway', sans-serif;
}

.my-container {
    width: 87.3%;
    margin: 0 auto;
}

.nav-item {
    padding: 0 12px;

    .nav-link {
        border: 1px solid transparent;
        border-radius: 50%;
        font-size: 1.24vw;
        color: white;

        &:hover {
            color: red;
            border: 1px solid red;
            border-radius: 30px;
        }
    }
}

.fw-med {
    font-weight: 500;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 65px;
    right: 40px;
    z-index: 99;
    cursor: pointer;

    &:hover {
        filter: brightness(1.5);
    }
}